/* Background */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      rgba(60, 30, 10, 0.7),
      rgba(60, 30, 10, 0.7)
    ),
    url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");

  background-size: cover;
  background-position: center;
}

/* Login Box */
.auth-box {
  width: 380px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

/* Title */
.auth-box h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
.auth-box button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: darkorange;
}

/* Register Link */
.auth-box a {
  display: block;
  margin-top: 15px;
  color: orange;
  text-decoration: none;
  font-weight: bold;
}